*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#main {
    width: 80%;
    /* border: 1px solid red; */
    margin: auto;
    margin-top: 100px;
}
#adds {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    /* border: 1px solid red; */
    border: 1px solid rgb(218, 202, 202);
    margin-bottom: 30px;
}
#adds > div + div {
    line-height: 40px;
}
#adds > div + div > p {
    font-size: 20px;
    color: grey;
}
#adds > div + div > h3 {
    font-size: 25px;
    color: rgb(201, 97, 97);
}
#adds > div + div > h2 {
    color: rgb(177, 141, 76);
    line-height: 30px;
    width: 200px;
}
#adds > div > img {
    width: 85%;
}
#cross {
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    margin-left: 170px;
    margin-top: -23px;
    border: 1px solid grey;
    color: grey;
    cursor: pointer;
}
#adds + div {
    line-height: 10px;
    margin-bottom: -10px;
}
#adds + div > p {
    color: grey;
}
#product_part {
    /* border: 1px solid teal; */
    display: flex;
}
#sidebar {
    /* border: 1px solid blue; */
    width: 30%;
    line-height: 35px;
}
#sidebar > hr {
    margin-top: 150px;
}
#sidebar > div > select {
    cursor: pointer;
    height: 40px;
    width: 90%;
}
#sidebar > div > select:hover {
    background-color: rgb(230, 215, 215);
}
#sortBy > div {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    height: 5%;
}
#sortBy > div > h3 {
    margin-top: 0px;
}
#sortBy > div > select {
    width: 15%;
    height: 100%;
    cursor: pointer;
}
#apartments {
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(10, auto);
    gap: 20px;
}
#apartments > div > img {
    width: 80%;
    height: 150px;
    display: block;
    margin: auto;
    margin-top: 10px;
    cursor: pointer;
}
#apartments > div {
    border: 1px solid rgb(218, 202, 202);
    line-height: 35px;

}
#apartments > div > h2 + p {
    font-size : 20px;
}
#apartments > div > h2 + p + p {
    font-size : 20px; 
    color: grey;
}
#apartments > div > h2 + p + p + p {
    font-size : 13px;
    color: grey;
}
#apartments > div > h2,p,p,p {
    margin-left: 20px;
}
#button {
    display: flex;
    justify-content: center;
    align-items: center;
}
#button > button {
    border: 2px solid black;
    font-weight: bold;
    font-size: 20px;
    padding: 20px 40px;
    background-color: white;
    border-radius: 4px;
}
#button > button:hover {
    border: 3px solid black;
}
#footer {
    margin: auto;
    /* border: 1px solid red; */
    margin-top: 200px;
}
#first {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: (auto);
    background-color: #f5f5f5;
    padding: 0px 10px;
}
#first > div {
    /* border: 1px solid red; */
    height: 220px;
    margin: 20px;
}
#first > div > h3 + p {
    margin-top: 20px;
}
#first > div > h3 ~ p {
    color: grey;
    cursor: pointer;
}
#icons > img {
    width: 10%;
    margin-right: 10px;
    cursor: pointer;
}
#app {
    margin-top: 50px;
}
#app > img {
    width: 40%;
    cursor: pointer;
}
#second {
    padding: 5px 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #002f34;
    color: white;
}