*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#main {
    width: 80%;
    margin: auto;
    margin-top: 100px;
}
#adds {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 80%;
    border: 1px solid rgb(218, 202, 202);
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 4px  ;
}
#adds > div + div > h2{
    color: rgb(63, 63, 148);
}
#adds > div + div > p {
    line-height: 50px;
    font-size: 20px;
    color: grey;
}
#adds > div > img {
    width: 60%;
}
#adds + div {
    line-height: 10px;
    margin-bottom: -10px;
}
#adds + div > p {
    margin: 0px;
    color: grey;
}
#cross {
    font-size: 20px;
    color: grey;
    margin: -23px 0px 0px 380px;
    border: 1px solid grey;
    width: 15px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
#product_part {
    /* border: 1px solid teal; */
    display: flex;
}
#sidebar {
    /* border: 1px solid blue; */
    width: 30%;
    line-height: 30px;
    /* scroll-behavior: auto; */
}
#sortby > div {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    /* border: 1px solid red; */
    height: 5%;
}
#sortby > div > h3 {
    margin-top: 0px;
}
#sortby > div > select {
    width: 15%;
    height: 100%;
    cursor: pointer;
}
#sidebar > h2 + p {
    font-size: 20px;
}
#sidebar > select:nth-child(1) {
    scroll-behavior: smooth;
}
#sidebar > hr {
    margin-top: 10px;
}
#sidebar > div {
    height: 280px;
    border: 1px solid rgb(55, 71, 133);
    border-radius: 5px;
}
#sidebar > div > select {
    cursor: pointer;
    height: 40px;
    width: 90%;
    font-size: 15px;
}
#smartphones {
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(10, auto);
    gap: 20px;
}
#smartphones > div > img {
    width: 70%;
    height: 170px;
    display: block;
    margin: auto;
    margin-top: 10px;
    cursor: pointer;
}
#smartphones > div > h2,p,p {
    display: flex;
    margin: auto;
    margin-left: 20px;
}
#smartphones > div {
    border: 1px solid rgb(218, 202, 202);
    border-radius: 4px;
    line-height: 30px;
}
#smartphones > div > h2 + p {
    font-size: 20px;
    color: grey;
}
#smartphones > div > h2 + p + p {
    font-size : 13px;
    color: grey;
}
#button{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#button > button {
    border: 2px solid black;
    font-weight: bold;
    font-size: 20px;
    padding: 20px 40px;
    background-color: white;
    border-radius: 4px;
}
#button > button:hover {
    border: 3px solid black;
}
#footer {
    margin: auto;
    /* border: 1px solid red; */
    margin-top: 200px;
}
#first {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: (auto);
    background-color: #f5f5f5;
    padding: 0px 10px;
}
#first > div {
    /* border: 1px solid red; */
    height: 220px;
    margin: 40px;
}
#first > div > h3 + p {
    margin-top: 20px;
}
#first > div > h3 ~ p {
    color: grey;
}
#icons > img {
    width: 10%;
    margin-right: 10px;
}
#app {
    margin-top: 50px;
}
#app>img {
    width: 40%;
}
#second {
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #002f34;
    color: white;
}